.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.loading-footer{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
}

mat-dialog-content{
    display: flex;
    flex-direction: column;
}