<h1 mat-dialog-title>{{ 'ACCOUNT.ADD-REFERENT.TITLE' | translate }}</h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'ACCOUNT.ADD-REFERENT.INSTRUCTIONS' | translate }}</p>
  <form autocomplete="off" class="form" [formGroup]="addReferentForm">
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.ADD-REFERENT.NAME' | translate }}" formControlName="name" required>
      <mat-error *ngIf="addReferentForm.controls['name'].errors?.required && addReferentForm.touched">
        {{'ACCOUNT.ADD-REFERENT.NAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.ADD-REFERENT.SURNAME' | translate }}" formControlName="surname" required>
      <mat-error *ngIf="addReferentForm.controls['surname'].errors?.required && addReferentForm.touched">
        {{'ACCOUNT.ADD-REFERENT.SURNAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.ADD-REFERENT.EMAIL' | translate }}" formControlName="email">
      <mat-error *ngIf="addReferentForm.controls['email'].errors?.pattern && addReferentForm.touched">
        {{'ACCOUNT.ADD-REFERENT.EMAIL-ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.ADD-REFERENT.PHONE-NUMBER' | translate}}" formControlName="phoneNumber">
    </mat-form-field>
  </form>
</div>

<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>
    {{ 'ACCOUNT.ADD-REFERENT.CANCEL' | translate }}
  </button>
  <button mat-button color="primary" (click)="addNewReferent()" [disabled]="addReferentForm.invalid">
    {{ 'ACCOUNT.ADD-REFERENT.ADD' | translate }}
  </button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>