<h1 mat-dialog-title translate="ACCOUNT.RESET-PASSWORD.TITLE"></h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'ACCOUNT.RESET-PASSWORD.INSTRUCTIONS' | translate }} <span class="username"> {{data.username}} </span> {{ 'ACCOUNT.RESET-PASSWORD.INSTRUCTIONS2' | translate }}</p>
</div>
<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'ACCOUNT.RESET-PASSWORD.CANCEL' | translate }}</button>
  <button mat-button color="warn" (click)="resetPassword()">{{ 'ACCOUNT.RESET-PASSWORD.CONFIRM' | translate }}</button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>