<div class="card-content">
  <div class="logo-container">
    <img src="assets/images/logo.png">
  </div>

  <form autocomplete="off" class="form" [formGroup]="newPasswordForm" (ngSubmit)="setNewPassword()" *ngIf="!showConfirmationMessage && !isLoading">

    <p class="instructions">{{ 'NEW-PASSWORD.INSTRUCTIONS' | translate }}</p>

    <mat-form-field>
      <input matInput placeholder="{{ 'NEW-PASSWORD.USERNAME' | translate }}" disabled value="{{user?.username}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'NEW-PASSWORD.NAME' | translate }}" disabled value="{{user?.name}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'NEW-PASSWORD.SURNAME' | translate }}" disabled value="{{user?.surname}}">
    </mat-form-field>

    <p class="instructions">{{ 'NEW-PASSWORD.INSTRUCTIONS2' | translate }}</p>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{ 'NEW-PASSWORD.PASSWORD' | translate }}" type="password" formControlName="password" (input)="clearPasswordConfirmation()" required>
      <mat-error *ngIf="newPasswordForm.controls['password'].errors?.pattern && newPasswordForm.touched">
        {{'CONFIRM-USER.PASSWORD-ERROR' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{ 'NEW-PASSWORD.PASSWORD-CONFIRMATION' | translate }}" type="password" formControlName="passwordConfirmation" appConfirmEqualValidator="password" required>
      <mat-error *ngIf="newPasswordForm.controls['passwordConfirmation'].errors?.pattern && newPasswordForm.touched">
        {{'CONFIRM-USER.PASSWORDCONFIRMATION-ERROR' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="newPasswordForm.invalid">{{ 'NEW-PASSWORD.SET-PASSWORD' | translate }}</button>
    </div>
  </form>

  <!-- Loading -->
  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>

</div>