@import 'src/styles/_partials.scss';

:host {
  overflow: auto;
}

.tos-container {
  padding: $spacing-lg;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.content {
  text-align: justify;
}

.footer {
  margin-top: $spacing-lg;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
