<div class="tos-container">
    <h2> {{ 'TOS.TITLE' | translate }} </h2>
    <div class="content">
        {{ 'TOS.CONTENT' | translate }}
    </div>
</div>
<div class="footer">
    <button mat-raised-button color="primary" mat-dialog-close>{{ 'TOS.BUTTON' | translate }}</button>
</div>