@import 'src/styles/_partials.scss';

.component-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing-xl;
}

:host {
  overflow: auto;
}

.table-card {
  margin-top: $spacing-xl;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
}

.mat-card-title {
  font-size: $text-size-lg;
}

.editable-part {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media #{$md-down} {
    flex-flow: column;
  }
}

.save-footer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  @media #{$sm-down} {
    justify-content: center;
    flex-flow: column;
  }
}

.footer-button {
  margin: $spacing-md;
}

.button-icon {
  margin-left: $spacing-md;
}

.company-card {
  margin-top: $spacing-xl;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
  @media #{$md-down} {
    flex-flow: column;
  }
}

.company-logo {
  max-height: 100px;
  margin: $spacing-lg;
}

.company-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.company-form {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  @media #{$md-down} {
    flex-flow: column;
    align-items: center;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
  }
}

.form-column {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-width: 300px;
  justify-content: space-evenly;
  margin-right: $spacing-md;
  margin-left: $spacing-md;
}

.form-column-field {
  @media #{$sm-down} {
    width: 100%;
  }
}

.form-field {
  flex-grow: 1;
}

.action-button {
  font-size: 25px;
}

.add-button-container {
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-end;
  flex-flow: row-reverse;
  flex-grow: 1;
  bottom: 0px;
}

.add-button {
  margin: 10px;
}

.state-mat-chip {
  color: white;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.green-state {
  background-color: #4caf50;
}

.red-state {
  background-color: #f34336;
}

.datagrid-buttons {
  display: flex;
}

::ng-deep .dx-toolbar-before {
  font-size: $text-size-lg;
  @media #{$sm-down} {
    display: none;
  }
}

::ng-deep .dx-datagrid-header-panel {
  padding: 0;
}

.mode-notice{
  font-size: $text-size-sm;
  text-align: justify;
  text-justify: inter-word;
}
