<div class="component-container">
  <mat-card class="company-card">
    <mat-card-header>
      <mat-card-title>{{ 'ACCOUNT.COMPANY-DETAILS' | translate }}</mat-card-title>
    </mat-card-header>
    <div class="editable-part">
      <div class="form-column">
        <img class="company-logo" [src]="logoString || ''">
        <button mat-raised-button color="accent" (click)="uploadLogo()">
          {{ 'ACCOUNT.UPLOAD-LOGO' | translate }}
          <i class="mdi mdi-upload button-icon"></i>
        </button>
      </div>
      <div class="company-info">
        <form autocomplete="off" class="company-form" [formGroup]="companyForm">
          <div class="form-column form-column-field">
            <mat-form-field class="form-field">
              <input matInput placeholder="{{ 'ACCOUNT.COMPANY-NAME' | translate }}" formControlName="name" required>
              <mat-icon matSuffix>domain</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput placeholder="{{ 'ACCOUNT.REFERENT-NAME' | translate }}" formControlName="referentName"
                required>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-slide-toggle class="form-field" [color]="'primary'" [checked]="this.company?.exitGuestByReferentsEnabled"
              (change)="changeGuestMode()">
              {{ 'ACCOUNT.TOGGLE-SEARCH' | translate }}
            </mat-slide-toggle>
          </div>
          <div class="form-column form-column-field">
            <mat-form-field class="form-field">
              <input matInput placeholder="{{ 'ACCOUNT.PHONE-NUMBER' | translate }}" formControlName="phoneNumber">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-slide-toggle class="form-field" [color]="'primary'" [checked]="this.company?.autocompleteReferentsEnabled"
              (change)="changeReferentMode()">
              {{ 'ACCOUNT.TOGGLE-LABEL' | translate }}
            </mat-slide-toggle>
            <p class="mode-notice">
              {{ 'ACCOUNT.TOGGLE-INFO' | translate }}
            </p>
          </div>

          <div class="form-column form-column-field">

          </div>
        </form>
      </div>
    </div>
    <div class="save-footer" *ngIf="!companyInfoIsLoading">
      <button mat-raised-button class="footer-button" (click)="discardChanges()" [disabled]="!formChanged">
        {{ 'ACCOUNT.DISCARD-CHANGES' | translate }}
      </button>
      <button mat-raised-button color="primary" class="footer-button" (click)="saveCompanyChanges()" [disabled]="!formChanged">
        {{ 'ACCOUNT.SAVE-CHANGES' | translate }}
        <i class="mdi mdi-content-save button-icon"></i>
      </button>
    </div>
    <div class="save-footer" *ngIf="companyInfoIsLoading">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
  </mat-card>
    <mat-card *ngIf="autocompleteReferentsEnabled" class="table-card">
        <dx-data-grid id="gridContainer" #grid [dataSource]="referents" [showColumnLines]="false" [showRowLines]="true"
          [showBorders]="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true" (onCellPrepared)="onCellPrepared($event)"
          (onToolbarPreparing)="onToolbarPreparingReferents($event)">
          <dxi-column [hidingPriority]="0" caption="{{ 'ACCOUNT.FULL-NAME' | translate }}" dataField="fullName"></dxi-column>
          <dxi-column [hidingPriority]="0" caption="{{ 'ACCOUNT.EMAIL' | translate }}" dataField="email"></dxi-column>
          <dxi-column [hidingPriority]="0" caption="{{ 'ACCOUNT.PHONE-NUMBER' | translate }}" dataField="phoneNumber"></dxi-column>
          <dxi-column [hidingPriority]="4" cellTemplate="cellTemplate" [width]="100">
          </dxi-column>
    
          <div *dxTemplate="let data of 'cellTemplate'">
            <div class="datagrid-buttons">
              <div matTooltip="{{ 'ACCOUNT.EDIT-REFERENT' | translate }}">
                <button mat-icon-button (click)="openEditReferentDialog(data.data.id)">
                  <i class="mdi mdi-pencil action-button"></i>
                </button>
              </div>
              <div matTooltip="{{ 'ACCOUNT.DELETE-REFERENT' | translate }}">
                <button mat-icon-button (click)="openDeleteReferentDialog(data.data.id, data.data.fullName)">
                  <i class="mdi mdi-delete action-button"></i>
                </button>
              </div>
            </div>
          </div>
        </dx-data-grid>
      </mat-card>

  <mat-card class="table-card">
    <dx-data-grid id="gridContainer" #grid [dataSource]="users" [showColumnLines]="false" [showRowLines]="true"
      [showBorders]="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true" (onCellPrepared)="onCellPrepared($event)"
      (onToolbarPreparing)="onToolbarPreparing($event)">
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxi-column [hidingPriority]="0" caption="{{ 'ACCOUNT.FULL-NAME' | translate }}" dataField="fullName"></dxi-column>
      <dxi-column [hidingPriority]="3" caption="{{ 'ACCOUNT.USERNAME' | translate }}" dataField="username"></dxi-column>
      <dxi-column [hidingPriority]="1" caption="{{ 'ACCOUNT.ROLE' | translate }}" [width]="150" dataField="role"></dxi-column>
      <dxi-column [hidingPriority]="2" caption="{{ 'ACCOUNT.STATE' | translate }}" [width]="150" cellTemplate="stateTemplate"></dxi-column>
      <dxi-column [hidingPriority]="4" cellTemplate="cellTemplate" [width]="100">
      </dxi-column>

      <div *dxTemplate="let data of 'cellTemplate'">
        <div class="datagrid-buttons">
          <div matTooltip="{{ 'ACCOUNT.RESET-PASS' | translate }}">
            <button mat-icon-button [disabled]="data.data.state == 'Pending' || data.data.id == currentUser.id" (click)="openResetPasswordDialog(data.data.username, data.data.username)">
              <i class="mdi mdi-lock-reset action-button"></i>
            </button>
          </div>
          <div matTooltip="{{ 'ACCOUNT.DELETE-USER-TIP' | translate }}">
            <button mat-icon-button [disabled]="data.data.id == currentUser.id" (click)="openDeleteUserDialog(data.data.id, data.data.username, data.data.state)">
              <i class="mdi mdi-delete action-button"></i>
            </button>
          </div>
        </div>
      </div>
      <div *dxTemplate="let data of 'stateTemplate'">
        <mat-chip-list>
          <mat-chip class="state-mat-chip" color="primary" [ngClass]="{'green-state': data.data.stateValue == 1, 'red-state': data.data.stateValue == 0}">{{data.data.state}}</mat-chip>
        </mat-chip-list>
      </div>
    </dx-data-grid>
  </mat-card>

  <div class="add-button-container" (click)="openAddUserDialog()">
    <button mat-fab class="add-button" matTooltip="{{ 'ACCOUNT.ADD-TOOLTIP' | translate }}">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>