<h1 mat-dialog-title translate="COMPANIES.BLOCK-USERS-DIALOG.TITLE"></h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>
    <span *ngIf="!data.blocked" translate="COMPANIES.BLOCK-USERS-DIALOG.INSTRUCTIONS"></span>
    <span *ngIf="data.blocked" translate="COMPANIES.BLOCK-USERS-DIALOG.INSTRUCTIONS-ALT"></span>
    <span class="companyName"> {{data.companyName}} </span> {{ 'COMPANIES.BLOCK-USERS-DIALOG.INSTRUCTIONS2' | translate }}</p>
</div>
<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'COMPANIES.BLOCK-USERS-DIALOG.CANCEL' | translate }}</button>
  <button mat-button color="warn" (click)="changeStateOfCompany()">{{ 'COMPANIES.BLOCK-USERS-DIALOG.CONFIRM' | translate }}</button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>