<div class="card-content">
  <div class="logo-container">
    <img class="logo-image" src="assets/images/logo.png">
  </div>
  <form autocomplete="off" class="form" [formGroup]="signupForm" (ngSubmit)="signUp()" *ngIf="!showConfirmationMessage && !isLoading">

    <p class="instructions">{{ 'SIGNUP.REGISTRATION-INSTRUCTIONS' | translate }}</p>
    <mat-form-field class="column-items">
      <input matInput placeholder="{{'SIGNUP.COMPANY-NAME' | translate }}" formControlName="name" required>
      <mat-error *ngIf="signupForm.controls['name'].errors?.required && signupForm.touched">
        {{'SIGNUP.NAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{'SIGNUP.VAT' | translate }}" formControlName="vat" required>
      <mat-error *ngIf="signupForm.controls['vat'].errors?.required && signupForm.touched">
        {{'SIGNUP.VAT-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="Email" formControlName="referentUserName" required>
      <mat-error *ngIf="signupForm.controls['referentUserName'].errors?.required && signupForm.touched">
        {{'SIGNUP.EMAIL-REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="signupForm.controls['referentUserName'].errors?.pattern && signupForm.touched">
        {{'SIGNUP.EMAIL-ERROR' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="checkbox-section instructions">
      <mat-checkbox class="checkbox" labelPosition="start" formControlName="tos">
      </mat-checkbox>
      <div>
        {{ 'SIGNUP.I-ACCEPT-THE' | translate }}
        <span class="help-link" (click)="openTosDialog()"> {{ 'SIGNUP.TERMS-AND-CONDITIONS' | translate }} </span> {{ 'SIGNUP.OF-THE-SERVICE' | translate }}
      </div>
    </div>

    <div class="footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid || signupForm.controls['tos'].value == false">{{ 'SIGNUP.SIGNUP' | translate }}</button>
      <span class="account-help">
        {{ 'SIGNUP.ALREADY-HAVE-ACCOUNT' | translate }}
        <span class="help-link" (click)="goToSignIn()">
          {{ 'SIGNUP.SIGNIN' | translate }}
        </span>
      </span>
    </div>
  </form>

  <!-- Loading -->
  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>

  <!-- Confirmation Message -->
  <div class="confirmation-container" *ngIf="showConfirmationMessage">
    <i class="confirmation-icon mdi mdi-email-outline"></i>
    <div class="confirmation-text">
      <div>
        {{ 'SIGNUP.EMAIL-SENT' | translate }}
        <span class="email-address">{{signupForm.controls['referentUserName'].value}}</span>
      </div>
      <div class="confirmation-text-second-line">
        {{ 'SIGNUP.CHECK-EMAIL' | translate }}
      </div>
    </div>
    <span class="account-help">
      {{ 'SIGNUP.RETURN-TO' | translate }}
      <span class="help-link" (click)="goToSignIn()">
        {{ 'SIGNUP.SIGNIN' | translate }}
      </span>
    </span>
  </div>
</div>
