<div class="dialog-container">
  <h1 mat-dialog-title>{{ 'TODAY.ADD-GUEST.TITLE' | translate }}</h1>
  {{ 'TODAY.ADD-GUEST.INSTRUCTIONS' | translate }}
  <mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
    <form autocomplete="off" class="form" [formGroup]="enterGuestForm">
      <mat-form-field>
        <input matInput placeholder="{{ 'TODAY.NAME' | translate}}" formControlName="name" required>
        <mat-error *ngIf="enterGuestForm.controls['name'].errors?.required && enterGuestForm.touched">
          {{'TODAY.ADD-GUEST.NAME-REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="enterGuestForm.controls['name'].errors?.pattern && enterGuestForm.touched">
          {{'TODAY.ADD-GUEST.NAME-ERROR' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'TODAY.SURNAME' | translate}}" formControlName="surname" required>
        <mat-error *ngIf="enterGuestForm.controls['surname'].errors?.pattern && enterGuestForm.touched">
          {{'TODAY.ADD-GUEST.SURNAME-ERROR' | translate }}
        </mat-error>
        <mat-error *ngIf="enterGuestForm.controls['surname'].errors?.required && enterGuestForm.touched">
          {{'TODAY.ADD-GUEST.SURNAME-REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'TODAY.COMPANY' | translate}}" formControlName="fromCompany">
      </mat-form-field>

      <mat-form-field *ngIf="this.currentCompany?.autocompleteReferentsEnabled">
        <input type="text" placeholder="{{ 'TODAY.INTERNAL-REF' | translate}}" matInput formControlName="referentId"
          [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="showReferentName">
          <mat-option *ngFor="let referent of filteredReferents | async" [value]="referent">
            {{referent.name}} {{referent.surname}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="enterGuestForm.controls['referentId'].errors?.required && enterGuestForm.touched">
          {{'TODAY.ADD-GUEST.ASSIGNEDTO-REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!this.currentCompany?.autocompleteReferentsEnabled">
        <input matInput placeholder="{{ 'TODAY.INTERNAL-REF' | translate}}" formControlName="manualReferentName" required>
        <mat-error *ngIf="enterGuestForm.controls['manualReferentName'].errors?.required && enterGuestForm.touched">
          {{'TODAY.ADD-GUEST.ASSIGNEDTO-REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="{{ 'TODAY.BADGE-NUMBER' | translate}}" formControlName="badgeNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'TODAY.LICENSE-PLATE' | translate}}" formControlName="licensePlate">
      </mat-form-field>
      <div class="checkbox-section instructions">
        <mat-checkbox class="checkbox" labelPosition="start" formControlName="tos"></mat-checkbox>
        <div>
          {{ 'SIGNUP.I-ACCEPT-THE' | translate }}
          <span class="help-link" (click)="openTosDialog()"> {{ 'SIGNUP.TERMS-AND-CONDITIONS' | translate }} </span> {{
          'SIGNUP.OF-THE-SERVICE'| translate }}
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="footer" *ngIf="!isLoading">
    <button mat-button mat-dialog-close>{{ 'TODAY.ADD-GUEST.CANCEL' | translate }}</button>
    <button mat-button color="primary" (click)="addNewGuest()" [disabled]="enterGuestForm.invalid || enterGuestForm.controls['tos'].value == false">{{
      'TODAY.ADD-GUEST.ADD' | translate }}</button>
  </mat-dialog-actions>
  <div class="loading-footer" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</div>