@import "src/styles/_partials.scss";

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    align-self: stretch;
  }
}

.loading-footer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.guest-name {
  text-align: center;
  font-weight: bold;
}

.dialog-text{
  font-size: 16px;
}

.dialog-title{
  font-size: 24px;
}

.dialog-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// mat-dialog-content{
//   flex-grow: 1;
// }

.checkbox-section {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.checkbox {
  margin-right: $spacing-md;
}

.help-link {
  cursor: pointer;
  color: $primary-color;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}
.instructions {
  text-align: justify;
  font-size: $text-size-md;
}