.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      align-self: stretch;
    }
  }
  
  .loading-footer {
    display: flex;
    justify-content: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .guest-name {
    text-align: center;
    font-weight: bold;
  }
  
  .dialog-text{
    font-size: 16px;
  }
  
  .dialog-title{
    font-size: 24px;
  }

.dialog-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

mat-dialog-content{
    flex-grow: 1;
}

dx-data-grid{
  margin-top: 10px;
}