<div class="dialog-container">
  <h1 mat-dialog-title>{{ 'GUEST-MODE.EXIT-GUEST-DIALOG-TITLE' | translate }}</h1>
  <mat-dialog-content cdkFocusInitial>
    {{ 'GUEST-MODE.EXIT-GUEST-DIALOG-INSTRUCTIONS' | translate }}
    <div>
      <dx-data-grid id="gridContainer" #grid [loadPanel]="true" [dataSource]="guests" [showColumnLines]="false"
        [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true"
        (onCellPrepared)="onCellPrepared($event)" (onToolbarPreparing)="onToolbarPreparing($event)" height="100%">
        <dxo-scrolling mode="standard"></dxo-scrolling>
        <dxi-column [hidingPriority]="8" caption="{{ 'TODAY.FULL-NAME' | translate }}" dataField="fullName"></dxi-column>
        <dxi-column [hidingPriority]="3" caption="{{ 'TODAY.COMPANY' | translate }}" dataField="fromCompany"></dxi-column>
        <dxi-column [hidingPriority]="1" caption="{{ 'TODAY.BADGE-NUMBER' | translate }}" dataField="badgeNumber"></dxi-column>
        <dxi-column [hidingPriority]="0" caption="{{ 'TODAY.LICENSE-PLATE' | translate }}" dataField="licensePlate"></dxi-column>
        <dxi-column [hidingPriority]="6" caption="{{ 'TODAY.ENTRY' | translate }}" [width]="140" dataField="enter"
          cellTemplate="enterTemplate" sortOrder="asc"></dxi-column>
        <dxi-column [hidingPriority]="7" cellTemplate="cellTemplate" [width]="150"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
          <button mat-raised-button [disabled]="data.data.exit" (click)="openConfirmGuestExitDialog(data.data.id, data.data.fullName)">
            {{ 'TODAY.EXIT-BUTTON' | translate }}
          </button>
        </div>
        <div *dxTemplate="let data of 'enterTemplate'">
          <div [ngClass]="{'old-date': (data.data.enter | date: 'yyyy/MM/dd') < (date | date: 'yyyy/MM/dd'), 'today': (data.data.enter | date: 'yyyy/MM/dd') >= (date | date: 'yyyy/MM/dd') }">
            <div>
              <a [ngClass]="{'old-date-text': (data.data.enter | date: 'yyyy/MM/dd') < (date | date: 'yyyy/MM/dd')}">{{
                data.data.enter | date:'dd/MM' }}</a>
              &nbsp;{{ data.data.enter | date:'- HH:mm' }}
            </div>
          </div>
        </div>
        <div *dxTemplate="let data of 'referentPicker'">
          <form autocomplete="off">
            <mat-form-field *ngIf="this.currentCompany?.exitGuestByReferentsEnabled">
              <input type="text" placeholder="{{ 'GUEST-MODE.SELECT-REFERENT' | translate }}" aria-label="Number"
                matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="showReferentName" (optionSelected)="getGuests($event.option.value)">
                <mat-option *ngFor="let referent of filteredOptions | async" [value]="referent">
                  {{referent.name}} {{referent.surname}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="!this.currentCompany?.exitGuestByReferentsEnabled">
                <input type="search" placeholder="Introduce your surname" matInput [formControl]="searchSurnameControl">
                <button mat-button matSuffix mat-icon-button (click)="searchBySurname()" [disabled]="searchSurnameControl.invalid">
                  <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
          </form>
        </div>
      </dx-data-grid>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="footer">
    <button mat-button mat-dialog-close>{{ 'GUEST-MODE.CLOSE' | translate }}</button>
  </mat-dialog-actions>
</div>