@import 'src/styles/_partials.scss';

$card-margin: 24px;

:host {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

::ng-deep .mat-tooltip {
    font-size: 16px;
    max-width: 100% !important;
}

.sidenav-layout {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.sidenav-header {
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/assets/images/header-background.png');
  background-size: cover;
}

.sidenav-content {
  background: white;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.company-logo {
  max-height: 50px;
  margin-top: 24px;
  margin-left: $card-margin;
  margin-bottom: $spacing-md;
}

.user-info {
  margin-left: $card-margin;
  color: white;
  font-size: 20px;
}

.email {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -16px;
}

.arrow-icon {
  font-size: 25px;
}

#copyright {
  font-size: 0.7em;
  padding: $spacing-md;
  text-align: justify;
  color: #0000008a;
}

#copyright-top-margin {
  margin-top: $spacing-sm;
}

.drop-menu-button {
  min-width: 264px;
}
