<div class="sidenav-layout">
  <div class="sidenav-header">
    <div>
      <img class="company-logo" [src]="logoString  || ''">
    </div>
    <div class="user-info">
      <!-- <span matTooltip="{{currentUser?.name + ' ' + currentUser?.surname}}" [matTooltipPosition]="'after'">
        {{ (currentUser?.name.length + currentUser?.surname.length > 20) ? (currentUser?.name + ' ' + currentUser?.surname | slice:0:20)+'..':
        (currentUser?.name + ' ' + currentUser?.surname)}}
      </span> -->
      <span matTooltip="{{fullName}}" [matTooltipPosition]="'after'">
        {{ (fullName.length > 20) ? (fullName | slice:0:20)+'..': (fullName)}}
      </span>
      <span class="email">
        <button mat-button [matMenuTriggerFor]="dropDownMenu">
          {{ (currentUser?.username.length > 26)? (currentUser?.username | slice:0:26)+'..':(currentUser?.username)}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dropDownMenu="matMenu" xPosition="before" [overlapTrigger]="false">
          <button mat-menu-item class="drop-menu-button" (click)="logout()">
            <i class="mdi mdi-exit-to-app"></i>
            {{ "SIDE-NAVBAR.LOGOUT" | translate }}
          </button>
        </mat-menu>
      </span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="sidenav-content">
    <div id="list-container">
      <mat-list role="list" *ngFor="let menuItem of menuItems">
        <app-menu-icon-item [icon]="menuItem.icon" [content]="menuItem.content" [isActive]="activeMenuItem === menuItem.state" (click)="activateMenuItem(menuItem.state)"></app-menu-icon-item>
      </mat-list>
    </div>
    <div id="copyright">
      <div>
        Copyright © 2016-2018
      </div>
      <div id="copyright-top-margin">
        <a href="https://www.factorymind.com/" target="_blank">Factory Mind Società Cooperativa</a>
      </div>
    </div>
  </div>
</div>