<h1 mat-dialog-title translate="COMPANIES.RESET-REFERENT-DIALOG.TITLE"></h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'COMPANIES.RESET-REFERENT-DIALOG.INSTRUCTIONS' | translate }}
    <span class="referentName"> {{data.referentName}} </span> {{ 'COMPANIES.RESET-REFERENT-DIALOG.INSTRUCTIONS2' | translate }}</p>
</div>
<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'COMPANIES.RESET-REFERENT-DIALOG.CANCEL' | translate }}</button>
  <button mat-button color="warn" (click)="resetPassword()">{{ 'COMPANIES.RESET-REFERENT-DIALOG.CONFIRM' | translate }}</button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>