<div class="card-content">
  <div class="logo-container">
    <img class="logo-image" src="assets/images/logo.png">
  </div>
  <form autocomplete="off" class="form" [formGroup]="passwordRecoveryForm" (ngSubmit)="requestRecovery()" *ngIf="!showConfirmationMessage && !isLoading">
    <p class="instructions">{{ 'PASSWORD-RECOVERY.PASSWORD-RECOVERY-INSTRUCTIONS' | translate }}</p>
    <mat-form-field class="column-items">
      <input matInput placeholder="Email" formControlName="username" required>
      <mat-error *ngIf="passwordRecoveryForm.controls['username'].errors?.pattern && passwordRecoveryForm.touched">
        {{'PASSWORD-RECOVERY.EMAIL-ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="passwordRecoveryForm.controls['username'].errors?.required && passwordRecoveryForm.touched">
        {{'PASSWORD-RECOVERY.EMAIL-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordRecoveryForm.invalid">
        {{'PASSWORD-RECOVERY.RECOVER-PASSWORD' | translate }}
      </button>
      <span class="account-help">
        {{ 'PASSWORD-RECOVERY.ALREADY-HAVE-ACCOUNT' | translate }}
        <span class="help-link" (click)="goToSignIn()" translate="PASSWORD-RECOVERY.SIGNIN">
        </span>
      </span>
    </div>
  </form>

  <!-- Loading -->
  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>

  <!-- Confirmation Message -->
  <div class="confirmation-container" *ngIf="showConfirmationMessage">
    <i class="confirmation-icon mdi mdi-email-outline"></i>
    <div class="confirmation-text">
      <div>
        {{ 'PASSWORD-RECOVERY.EMAIL-SENT' | translate }}
        <span class="email-address">{{passwordRecoveryForm.controls['username'].value}}</span>
      </div>
      <div class="confirmation-text-second-line">
        {{ 'PASSWORD-RECOVERY.CHECK-EMAIL' | translate }}
      </div>
    </div>
  </div>
</div>