<h1 mat-dialog-title translate="COMPANIES.DELETE-COMPANY-DIALOG.TITLE"></h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>
    {{ 'COMPANIES.DELETE-COMPANY-DIALOG.INSTRUCTIONS' | translate }}
    <span class="companyName"> {{data.companyName}} </span> {{ 'COMPANIES.DELETE-COMPANY-DIALOG.INSTRUCTIONS2' | translate }}
  </p>
  <p class="warning">
    Please notice all the user accounts, history, logos and any kind of information provided to the system will be permantly deleted with no option of recovery.
  </p>
</div>
<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'COMPANIES.DELETE-COMPANY-DIALOG.CANCEL' | translate }}</button>
  <button mat-button color="warn" (click)="deleteCompany()">{{ 'COMPANIES.DELETE-COMPANY-DIALOG.DELETE' | translate }}</button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>