@import 'src/styles/_partials.scss';

.footer{
    display: flex;
    justify-content: space-evenly;
}

.loading-footer{
    display: flex;
    justify-content: center;
}

.companyName{
    font-weight: 500;
    text-decoration: underline;
}

.warning{
    font-weight: 500;
    color: $warning-color;
}