$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;

$xs: 'only screen and (max-width : 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$xl: 'only screen and (min-width: 1200px)';

$sm-down: 'only screen and (max-width: 767px)';
$md-down: 'only screen and (max-width: 991px)';
$lg-down: 'only screen and (min-width: 1199px)';
$lg-up: 'only screen and (min-width: 992px)';
$xl-up: 'only screen and (min-width: 1200px)';

$vertical-sm-up: 'only screen and (min-height: 725px)';

$vertical-sm-up: "only screen and (min-height: 725px)";
$vertical-sm-down: "only screen and (max-height: 725px)";

$accent-color: #165c95;
$accent-color-dark: #004989;
$accent-color-light: #1fc2d4;
$text-light-color: #dae4ee;
$text-icons-color: white;
$text-shadowed-color: #757575;

$text-size-xs: 10px;
$text-size-sm: 12px;
$text-size-md: 14px;
$text-size-lg: 20px;
$text-size-xl: 35px;

$background-color: #f2f2f2;
$primary-color: #2196f3;
$warning-color: #f44336;
