/* You can add global styles to this file, and also import other style files */
@import 'src/styles/_partials.scss';

body, html {
	height: 100%;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.pointer {
	cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
