@import '~@angular/material/theming';
@include mat-core();

$guestbook-primary: mat-palette($mat-blue);
$guestbook-accent:  mat-palette($mat-amber, 500, 900, A100);
$guestbook-warn:    mat-palette($mat-red);

$guestbook-theme: mat-light-theme($guestbook-primary, $guestbook-accent, $guestbook-warn);

@include angular-material-theme($guestbook-theme);