<h1 mat-dialog-title>{{ 'ACCOUNT.DELETE-REFERENT-DIALOG.TITLE' | translate }}</h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'ACCOUNT.DELETE-REFERENT-DIALOG.INSTRUCTIONS' | translate }} <span class="username"> {{data.fullName}} </span> {{ 'ACCOUNT.DELETE-REFERENT-DIALOG.INSTRUCTIONS2' | translate }}</p>
  <p>{{ 'ACCOUNT.DELETE-REFERENT-DIALOG.INSTRUCTIONS3' | translate }}</p>
</div>
<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'ACCOUNT.DELETE-REFERENT-DIALOG.CANCEL' | translate }}</button>
  <button mat-button color="warn" (click)="deleteReferent()">{{ 'ACCOUNT.DELETE-REFERENT-DIALOG.CONFIRM' | translate }}</button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>