<h1 mat-dialog-title>{{ 'TODAY.REFERENT-DETAILS-DIALOG.TITLE' | translate }}</h1>
<div mat-dialog-content cdkFocusInitial *ngIf="this.data.referent.name">
  <form autocomplete="off" class="form" [formGroup]="editReferentForm">
    <mat-form-field>
      <input matInput placeholder="{{ 'TODAY.REFERENT-DETAILS-DIALOG.NAME' | translate }}" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'TODAY.REFERENT-DETAILS-DIALOG.SURNAME' | translate }}" formControlName="surname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'TODAY.REFERENT-DETAILS-DIALOG.EMAIL' | translate }}" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'TODAY.REFERENT-DETAILS-DIALOG.PHONE-NUMBER' | translate}}" formControlName="phoneNumber">
    </mat-form-field>
  </form>
</div>

<div *ngIf="!this.data.referent.name">
    {{ 'TODAY.REFERENT-DETAILS-DIALOG.DEFAULT-OPTION' | translate}}
</div>

<div class="footer">
  <button mat-button mat-dialog-close>
    {{ 'TODAY.REFERENT-DETAILS-DIALOG.CLOSE' | translate }}
  </button>
</div>