<div class="component-container">
<div *ngIf="companies?.length == 0" class="no-companies">
  There are no companies registered in the system.
</div>
<mat-accordion *ngIf="companies?.length > 0">
  <mat-expansion-panel [ngClass]="{'blocked-company':company.blocked}" class="company-panel" *ngFor="let company of companies; let i = index" [attr.data-index]="i" class="company-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="mdi mdi-block-helper disabled-icon" *ngIf="company.blocked"></i>{{company.name}}
      </mat-panel-title>
      <mat-panel-description>
        <span> Users: {{company.users}} </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="info">
      <!-- <div class="form-column">
        <img class="company-logo" [src]="company?.logo  || ''">
      </div> -->
      <div class="company-info">
        <form autocomplete="off" class="company-form">
          <div class="form-column form-column-field">
            <mat-form-field class="form-field">
              <input matInput placeholder="{{ 'COMPANIES.COMPANY-NAME' | translate }}" value="{{company.name}}" disabled>
              <mat-icon matSuffix>domain</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput placeholder="{{ 'COMPANIES.REFERENT-NAME' | translate }}" value="{{company.referentName}}" disabled>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
          <div class="form-column form-column-field">
            <mat-form-field class="form-field">
              <input matInput placeholder="{{ 'COMPANIES.PHONE-NUMBER' | translate }}" value="{{company.phoneNumber}}" disabled>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <button mat-raised-button color="primary" class="footer-button" (click)="openResetReferentDialog(company.id, company.referentName)">
        {{ 'COMPANIES.RESET-REFERENT' | translate }}
        <i class="mdi mdi-lock-reset button-icon"></i>
      </button>
      <button mat-raised-button color="accent" class="footer-button" (click)="openBlockUsersDialog(company.id, company.name, company.blocked, i)">
        <span *ngIf="!company.blocked" translate="COMPANIES.BLOCK-USERS"></span>
        <span *ngIf="company.blocked" translate="COMPANIES.UNBLOCK-USERS"></span>
        <i class="mdi mdi-block-helper button-icon"></i>
      </button>
      <button mat-raised-button color="warn" class="footer-button" (click)="openDeleteCompanyDialog(company.id, company.name, i)">
        {{ 'COMPANIES.DELETE-COMPANY' | translate }}
        <i class="mdi mdi-delete button-icon"></i>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</div>