@import "src/styles/_partials.scss";

.component-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

:host {
  overflow: auto;
}

mat-accordion {
  margin-top: $spacing-xl;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
}

mat-panel-title {
  font-size: $text-size-lg;
}

mat-panel-description {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.info {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media #{$md-down} {
    flex-flow: column;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  @media #{$sm-down} {
    justify-content: center;
    flex-flow: column;
  }
}

.footer-button {
  margin: $spacing-md;
}

.button-icon {
  margin-left: $spacing-md;
}

.company-panel {
  @media #{$md-down} {
    flex-flow: column;
  }
}

.blocked-company{
    background-color: #f5f5f5;
}

.disabled-icon{
    margin-right: $spacing-md;
}

.company-logo {
  max-height: 100px;
  margin: $spacing-lg;
}

.company-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.company-form {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  @media #{$md-down} {
    flex-flow: column;
    align-items: center;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
  }
}

.form-column {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-width: 300px;
  justify-content: space-evenly;
  margin-right: $spacing-md;
  margin-left: $spacing-md;
}

.form-column-field {
  @media #{$sm-down} {
    width: 100%;
  }
}

.form-field {
  flex-grow: 1;
}

.no-companies {
  padding: $spacing-xl;
  font-size: $text-size-lg;
  color: $text-shadowed-color;
}
