<div class="component-container">
  <mat-card class="guestmode-card" *ngIf="!guestMode">
    <mat-card-header class="guest-mode-header">
      <mat-card-title class="guest-mode-title">{{ 'GUEST-MODE.ENTER-MODE-TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <div class="guest-mode-body">
      <p class="guest-mode-text">
        {{ 'GUEST-MODE.ENTER-MODE1' | translate }}
      </p>
      <p class="guest-mode-text">
        {{ 'GUEST-MODE.ENTER-MODE2' | translate }}
      </p>
      <button mat-raised-button class="guest-mode-button" color="primary" (click)="openEnterGuestModeDialog()">
        {{ 'GUEST-MODE.ENTER-MODE-BUTTON' | translate }}
      </button>
    </div>
  </mat-card>
  <mat-card class="guestmode-card" *ngIf="guestMode">
    <mat-card-header class="guest-mode-header">
      <mat-card-title class="guest-mode-title">{{ 'GUEST-MODE.GUEST-MODE-TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <div *ngIf="currentCompany.logo !== null"class="logo-box">
        <img class="company-logo" [src]="logoString || ''">
    </div>
    
    <div class="guest-mode-body">
        
      <p class="guest-mode-text center-text">
        {{ 'GUEST-MODE.GUEST-INSTRUCTIONS1' | translate }}
      </p>
      <p class="guest-mode-text center-text">
        {{ 'GUEST-MODE.GUEST-INSTRUCTIONS2' | translate }}
      </p>
      <p class="button-box">
        <button mat-raised-button class="guest-mode-button" color="primary" (click)="openEnterGuestDialog()">
          {{ 'GUEST-MODE.ENTER-GUEST' | translate }}
        </button>
        <button mat-raised-button class="guest-mode-button" color="warn" (click)="openExitGuestDialog()">
          {{ 'GUEST-MODE.EXIT-GUEST' | translate }}
        </button>
      </p>
      <button mat-button class="guest-mode-exit-button" (click)="openExitGuestModeDialog()">
        {{ 'GUEST-MODE.EXIT-MODE-BUTTON' | translate }}
      </button>
    </div>
  </mat-card>
</div>