@import 'src/styles/_partials.scss';

.component-container {
  display: flex;
  flex-flow: row;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing-xl;
}

:host {
  flex-flow: column;
  flex: 1;
  overflow: auto;
  @media #{$vertical-sm-up} {
    display: flex;
    overflow: hidden;
  }
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-logo {
  max-height: 100px;
  margin: $spacing-lg;
}

.guestmode-card {
  width: 80%;
  max-width: 800px;
  @media #{$vertical-sm-down} {
    margin-top: $spacing-xl;
  }
  padding: $spacing-xl;
}

.guest-mode-header {
  margin-bottom: $spacing-xl;
}

.guest-mode-title {
  font-size: 24px !important;
}

.guest-mode-text {
  width: 80%;
  font-size: 16px;
  align-self: center;
}

.guest-mode-body {
  display: flex;
  flex-direction: column;
}

.guest-mode-button {
  margin-top: 50px;
  align-self: center;
  min-height: 25px;
  min-width: 150px;
  max-width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: $spacing-xl;
}

.guest-mode-exit-button {
  margin-top: $spacing-xl;
  align-self: center;
  max-width: 300px;
  color: rgba(grey, 0.5);
}

.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-xl;
}

.center-text {
  text-align: center;
}
