<div class="card-content">
  <div class="logo-container">
    <img src="assets/images/logo.png">
  </div>
  <form class="form" [formGroup]="signinForm" (ngSubmit)="signIn()" *ngIf="!isLoading">

    <mat-form-field class="column-items">
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="signinForm.controls['email'].errors?.required && signinForm.touched">
        {{'SIGNIN.EMAIL-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="column-items">
      <input matInput placeholder="{{'SIGNIN.PASSWORD' | translate}}" type="password" formControlName="password" required>
      <mat-error *ngIf="signinForm.controls['password'].errors?.required && signinForm.touched">
        {{'SIGNIN.PASSWORD-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="signinForm.invalid">{{'SIGNIN.SIGNIN' | translate}}</button>
      <div class="account-help">
        {{'SIGNIN.NO-ACCOUNT' | translate}}
        <span class="help-link" (click)="goToSignup()">
          {{'SIGNIN.SIGNUP' | translate}}
        </span>
      </div>
      <div class="account-help">
        {{'SIGNIN.FORGOTTEN-PASSWORD' | translate}}
        <span class="help-link" (click)="goToPasswordRecovery()">
          {{'SIGNIN.RECOVER-PASSWORD' | translate}}
        </span>
      </div>
      <br>
      <div *ngIf="inGuestMode" class="account-help">
        {{'SIGNIN.GUESTBOOK-ACTIVE' | translate}}
        <span class="help-link" (click)="goToGuestbook()">
          {{'SIGNIN.GO-TO-GUESTBOOK' | translate}}
        </span>
      </div>
    </div>
  </form>

  <!-- Loading -->
  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</div>