<h1 mat-dialog-title>{{ 'GUEST-MODE.EXIT-DIALOG-TITLE' | translate }}</h1>
<mat-dialog-content cdkFocusInitial>
  <p>{{ 'GUEST-MODE.EXIT-DIALOG-INSTRUCTIONS' | translate }}</p>
  <form autocomplete="off" [formGroup]="signinForm" (ngSubmit)="exitGuestMode()">
    <mat-form-field>
      <input matInput placeholder="{{'SIGNIN.PASSWORD' | translate}}" type="password" formControlName="password"
        required>
      <mat-error *ngIf="signinForm.controls['password'].errors?.required && signinForm.touched">
        {{'SIGNIN.PASSWORD-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="footer">
  <button mat-button mat-dialog-close>{{ 'GUEST-MODE.CANCEL' | translate }}</button>
  <button mat-button type="submit" [disabled]="signinForm.invalid" (click)="exitGuestMode()">{{ 'GUEST-MODE.CONFIRM' |
    translate }}</button>
</mat-dialog-actions>