@import 'src/styles/_partials.scss';

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    align-self: stretch;
  }
}

::ng-deep .dx-toolbar-before {
  font-size: $text-size-lg;
  @media #{$sm-down} {
    display: none;
  }
}

::ng-deep .dx-datagrid-header-panel{
  padding: 0;
}

.old-date {
  background: rgba($primary-color, 0.25);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.old-date-text{
  font-weight: bold;
}

.today{
  background-color: transparent;
  text-align: center;
}

.cssWidgetWrapper {
    flex-grow: 1;
    position: relative;
}

::ng-deep .mat-dialog-content{
  display: flex;
}
