<mat-dialog-content cdkFocusInitial>
<div class="cssWidgetWrapper">
    <dx-data-grid id="gridContainer" #grid [dataSource]="todayGuestSvc.currentGuests" [showColumnLines]="false" [showRowLines]="true"
    [showBorders]="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true" (onCellPrepared)="onCellPrepared($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)" height="100%">
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column [hidingPriority]="8" caption="{{ 'TODAY.FULL-NAME' | translate }}" dataField="fullName"></dxi-column>
    <dxi-column [hidingPriority]="3" caption="{{ 'TODAY.COMPANY' | translate }}" dataField="fromCompany"></dxi-column>
    <dxi-column [hidingPriority]="4" caption="{{ 'TODAY.INTERNAL-REF' | translate }}" cellTemplate="referentTemplate"></dxi-column>
    <dxi-column [hidingPriority]="1" caption="{{ 'TODAY.BADGE-NUMBER' | translate }}" dataField="badgeNumber"></dxi-column>
    <dxi-column [hidingPriority]="0" caption="{{ 'TODAY.LICENSE-PLATE' | translate }}" dataField="licensePlate"></dxi-column>
    <dxi-column [hidingPriority]="6" caption="{{ 'TODAY.ENTRY' | translate }}" [width]="140" dataField="enter" cellTemplate="enterTemplate"
      sortOrder="asc"></dxi-column>
    <dxi-column [hidingPriority]="7" cellTemplate="cellTemplate" [width]="150"></dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
      <button mat-raised-button [disabled]="data.data.exit" (click)="openConfirmGuestExitDialog(data.data.id, data.data.fullName)">
        {{ 'TODAY.EXIT-BUTTON' | translate }}
      </button>
    </div>
    <div *dxTemplate="let data of 'referentTemplate'">
      <div class="datagrid-buttons">
        <button mat-raised-button color="primary" (click)="openReferentDetailsDialog(data.data.referentId)">{{ 'TODAY.REF-DETAILS' | translate }}</button>
      </div>
    </div>
    <div *dxTemplate="let data of 'enterTemplate'">
      <div [ngClass]="{'old-date': (data.data.enter | date: 'yyyy/MM/dd') < (date | date: 'yyyy/MM/dd'), 'today': (data.data.enter | date: 'yyyy/MM/dd') >= (date | date: 'yyyy/MM/dd') }">
        <div>
          <a [ngClass]="{'old-date-text': (data.data.enter | date: 'yyyy/MM/dd') < (date | date: 'yyyy/MM/dd')}">{{ data.data.enter | date:'dd/MM' }}</a>
          &nbsp;{{ data.data.enter | date:'- HH:mm' }}
        </div>
      </div>
    </div>
  </dx-data-grid>
</div>


</mat-dialog-content>
<mat-dialog-actions class="footer">
  <button mat-button mat-dialog-close>{{ 'TODAY.CLOSE' | translate }}</button>
</mat-dialog-actions>