<h1 mat-dialog-title>{{ 'ACCOUNT.ADD-USER.TITLE' | translate }}</h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'ACCOUNT.ADD-USER.INSTRUCTIONS' | translate }}</p>
  <form autocomplete="off" class="form" [formGroup]="addUserForm">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="username" required>
      <mat-error *ngIf="addUserForm.controls['username'].errors?.pattern && addUserForm.touched">
        {{'ACCOUNT.ADD-USER.EMAIL-ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['username'].errors?.required && addUserForm.touched">
        {{'ACCOUNT.ADD-USER.EMAIL-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{ 'ACCOUNT.ADD-USER.USER-ROLE' | translate }}" formControlName="userRole" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.viewValue | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addUserForm.controls['userRole'].errors?.required && addUserForm.touched">
        {{'ACCOUNT.ADD-USER.USERROLE-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'ACCOUNT.ADD-USER.CANCEL' | translate }}</button>
  <button mat-button color="primary" (click)="addNewUser()" [disabled]="addUserForm.invalid">{{ 'ACCOUNT.ADD-USER.ADD' | translate }}</button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>