<h1 mat-dialog-title>{{ 'ACCOUNT.EDIT-REFERENT-DIALOG.TITLE' | translate }}</h1>
<div mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'ACCOUNT.EDIT-REFERENT-DIALOG.INSTRUCTIONS' | translate }}</p>
  <form autocomplete="off" class="form" [formGroup]="editReferentForm">
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.EDIT-REFERENT-DIALOG.NAME' | translate }}" formControlName="name" required>
      <mat-error *ngIf="editReferentForm.controls['name'].errors?.required && editReferentForm.touched">
        {{'ACCOUNT.EDIT-REFERENT-DIALOG.NAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.EDIT-REFERENT-DIALOG.SURNAME' | translate }}" formControlName="surname" required>
      <mat-error *ngIf="editReferentForm.controls['surname'].errors?.required && editReferentForm.touched">
        {{'ACCOUNT.EDIT-REFERENT-DIALOG.SURNAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.EDIT-REFERENT-DIALOG.EMAIL' | translate }}" formControlName="email">
      <mat-error *ngIf="editReferentForm.controls['email'].errors?.pattern && editReferentForm.touched">
        {{'ACCOUNT.EDIT-REFERENT-DIALOG.EMAIL-ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'ACCOUNT.EDIT-REFERENT-DIALOG.PHONE-NUMBER' | translate}}" formControlName="phoneNumber">
    </mat-form-field>
  </form>
</div>

<div class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>
    {{ 'ACCOUNT.EDIT-REFERENT-DIALOG.CANCEL' | translate }}
  </button>
  <button mat-button color="primary" (click)="editReferent()" [disabled]="editReferentForm.invalid">
    {{ 'ACCOUNT.EDIT-REFERENT-DIALOG.SAVE-CHANGES' | translate }}
  </button>
</div>

<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>