@import 'src/styles/_partials.scss';

.access-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/assets/images/signin_background.jpg');
  background-size: cover;
  @media #{$sm-down} {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.left-side-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  @media #{$sm-down} {
    display: none;
  }
}

.text-item {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  margin: 48px;
  i {
    margin-right: 16px;
  }
}

.right-side-container {
  width: 50%;
  height: 100%;
  align-self: flex-end;
  display: flex;
  @media #{$sm-down} {
    width: 80%;
    height: auto;
    align-self: center;
    display: flex;
  }
}

.card {
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;
  @media #{$sm-down} {
    max-height: 100%;
  }
}

.logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
