<div class="access-container">
	<div class="left-side-container">
		<div>
			<img class="logo" src="/assets/images/logo-noclaim.png">
			<div class="text-item">
				<i class="mdi mdi-magnify"></i>
				{{ 'ACCESS.LOGIN-STATEMENT-1' | translate }}
			</div>
			<div class="text-item">
				<i class="mdi mdi-account-multiple"></i>
				{{ 'ACCESS.LOGIN-STATEMENT-2' | translate }}
			</div>
			<div class="text-item">
				<i class="mdi mdi-message"></i>
				{{ 'ACCESS.LOGIN-STATEMENT-3' | translate }}
			</div>
		</div>
	</div>
	<div class="right-side-container animated slideInRight">
		<mat-card class="card">
			<router-outlet></router-outlet>
		</mat-card>
	</div>
</div>