<mat-list-item role="listitem" [ngClass]="{'selected': isActive , 'unselected': !isActive}">
  <i class="mdi mdi-{{icon}}" [ngClass]="{'selected': isActive }"></i>
  <span [ngClass]="{'selected': isActive }" translate="{{content}}"></span>
</mat-list-item>