@import 'src/styles/_partials.scss';

:host{
    display: flex;
    align-items: center;
}

mat-list-item{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.unselected{
    &:hover{
        background-color: #f5f5f5;
        border-radius: 5px;
    }
}

.selected{
    background-color: #e0f1ff;
    border-radius: 5px;
    color:  $primary-color;
}

i{
    color: $text-shadowed-color;
    font-size: 25px;
    margin-right: $spacing-lg;
}

span{
    color: #212121;
    font-weight: 400;
}
