.footer{
    display: flex;
    justify-content: space-evenly;
}

.loading-footer{
    display: flex;
    justify-content: center;
}

.username{
    font-weight: 500;
    text-decoration: underline;
}