<div class="component-container">
  <mat-card class="today-board">
    <div class="board-2">
      <div class="guests-widget-content">
        <div class="guest-widget">
          <div class="guest-widget-text"> {{ 'HISTORY.FROM' | translate }}</div>
          <mat-form-field class="date-picker">
            <input matInput [(ngModel)]="fromDate" [max]="todayDate" [matDatepicker]="fromDatePicker" (dateChange)="fromDateChange($event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="guests-widget-content">
        <div class="guest-widget">
          <div class="guest-widget-text">{{ 'HISTORY.TO' | translate }}</div>
          <mat-form-field class="date-picker">
            <input matInput [(ngModel)]="toDate" [min]="fromDate" [max]="todayDate" [matDatepicker]="toDatePicker" (dateChange)="toDateChange($event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatePicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" class="export-button" (click)="exportToPdf()">
        {{ 'HISTORY.EXPORT' | translate }}
        <i class="mdi mdi-file-export"></i>
      </button>
    </div>
  </mat-card>
  <mat-card class="guest-list-card">
    <div class="cssWidgetWrapper">
      <dx-data-grid class="cssGridGeneral" id="gridContainer" #grid [loadPanel]="true" [dataSource]="guests"
        [showColumnLines]="false" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [columnHidingEnabled]="true" (onCellPrepared)="onCellPrepared($event)" (onToolbarPreparing)="onToolbarPreparing($event)"
        height="100%">
        <dxo-scrolling mode="standard"></dxo-scrolling>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxi-column [hidingPriority]="8" caption="{{ 'TODAY.FULL-NAME' | translate }}" dataField="fullName"></dxi-column>
        <dxi-column [hidingPriority]="3" caption="{{ 'TODAY.COMPANY' | translate }}" dataField="fromCompany"></dxi-column>
        <dxi-column [hidingPriority]="4" caption="{{ 'TODAY.INTERNAL-REF' | translate }}" cellTemplate="referentTemplate"></dxi-column>
        <dxi-column [hidingPriority]="1" caption="{{ 'TODAY.BADGE-NUMBER' | translate }}" dataField="badgeNumber"></dxi-column>
        <dxi-column [hidingPriority]="0" caption="{{ 'TODAY.LICENSE-PLATE' | translate }}" dataField="licensePlate"></dxi-column>
        <dxi-column [hidingPriority]="6" caption="{{ 'TODAY.ENTRY' | translate }}" [width]="140" dataField="enter"
          dataType="date" [format]="{ type: 'dd/MM - HH:mm' }"></dxi-column>
        <dxi-column [hidingPriority]="5" caption="{{ 'TODAY.EXIT' | translate }}" [width]="140" dataField="exit"
          dataType="date" [format]="{ type: 'dd/MM - HH:mm' }"></dxi-column>

        <div *dxTemplate="let data of 'referentTemplate'">
          <div class="datagrid-buttons">
            <button mat-raised-button color="primary" (click)="openReferentDetailsDialog(data.data.referentId)">Details</button>
          </div>
        </div>

        <div *dxTemplate="let data of 'totalGroupCount'">
          <div class="total-text">
            {{ 'HISTORY.TOTAL' | translate }} {{guestCount}}
          </div>
        </div>

      </dx-data-grid>
    </div>
  </mat-card>
</div>