@import 'src/styles/_partials.scss';

$icon-spacing: 10px;
$box-margin-v: 10px;
$box-margin-h: 5px;
$button-padding-v: 5px;
$button-margin-v: 10px;
$button-margin-h: 5px;

.component-container {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing-xl;
}

:host {
  flex-flow: column;
  flex: 1;
  overflow: auto;
  @media #{$vertical-sm-up} {
    display: flex;
    overflow: hidden;
  }
}

::ng-deep .dx-toolbar-before {
  font-size: $text-size-lg;
  @media #{$sm-down} {
    display: none;
  }
}

::ng-deep .dx-datagrid-header-panel {
  padding: 0;
}

.cssWidgetWrapper {
  @media #{$vertical-sm-up} {
    flex-grow: 1;
    position: relative;
    height: 100%;
  }
}

.cssGridGeneral {
  @media #{$vertical-sm-up} {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}

.guest-list-card {
  margin-top: $spacing-lg;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
}

.today-board {
  margin-top: $spacing-xl;
  flex: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
}

.board-2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-top: $box-margin-v;
}

::ng-deep .mat-chip-list-wrapper {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  justify-content: space-between;
}

.guest-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.guest-widget-text {
  font-size: 18px;
}

.guests-widget-content {
  display: flex;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: black !important;
  font-weight: 200 !important;
  font-size: $text-size-md;
  min-width: 272px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  margin-top: $box-margin-h;
  margin-left: $box-margin-v;
  margin-right: $box-margin-v;
  user-select: none;
}

.export-button {
  min-height: 50px;
  min-width: 50px;
  font-size: 16px;
  margin-top: $box-margin-h;
  margin-left: $box-margin-v;
  margin-right: $box-margin-v;
  align-items: center;
}

.date-picker {
  max-width: 100px;
  margin-left: $icon-spacing;
}
