@import 'src/styles/_partials.scss';

.main{
  display: flex;
  flex-flow: column;
  flex: 1;
}

.mat-dialog-action{
  min-height: 50px;
}

.footer{
  display: flex;
  justify-content: space-evenly;
}

.loading-footer {
    margin-top: $spacing-md;
    display: flex;
    justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
}

.checkbox-section {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.checkbox {
  margin-right: $spacing-md;
}

.help-link {
  cursor: pointer;
  color: $primary-color;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}
.instructions {
  text-align: justify;
  font-size: $text-size-md;
}
