<!-- Header
   ================================================== -->
<header>

    <div class="logo">
        <a class="smoothscroll" href="#hero">
            <img alt="" src="/assets/images/logo-noclaim.png">
        </a>
    </div>

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">{{ 'SHOW-MENU.SIGNUP' | translate }}</a>
        <a class="mobile-btn" href="#" title="Hide navigation">{{ 'LANDING-PAGE.HIDE-MENU' | translate }}</a>

        <ul id="nav" class="nav">
            <li>
                <a class="smoothscroll" href="#features">{{ 'LANDING-PAGE.FEATURES' | translate }}</a>
            </li>
            <!-- <li>
                <a class="smoothscroll" href="#pricing">Pricing</a>
            </li>
            <li>
                <a class="smoothscroll" href="#subscribe">Subscribe</a>
            </li> -->
        </ul>
        <!-- end #nav -->

    </nav>
    <!-- end #nav-wrap -->

    <!-- <ul class="header-social">
        <li>
            <a href="#">
                <i class="mdi mdi-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="mdi mdi-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="mdi mdi-google-plus"></i>
            </a>
        </li>
    </ul> -->

</header>
<!-- Header End -->


<!-- Homepage Hero
   ================================================== -->
<section id="hero">

    <div class="row">

        <div class="twelve columns">

            <div class="hero-text">
                <h1 class="responsive-headline">GuestBook</h1>

                <p>{{ 'LANDING-PAGE.PRODUCT-DESCRIPTION' | translate }}
                </p>
            </div>

            <div class="buttons">
                <a class="button trial" (click)="goToSignUp()">{{ 'LANDING-PAGE.SIGNUP' | translate }}</a>
                <a class="button learn-more smoothscroll" (click)="goToSignIn()">{{ 'LANDING-PAGE.SIGNIN' | translate
                    }}</a>
            </div>

            <div class="hero-image animated slideInUp">
                <!-- <img src="assets/images/woo10/hero-image.png" alt="" /> -->
            </div>

        </div>

    </div>

</section>
<!-- Homepage Hero end -->


<!-- Features Section
   ================================================== -->
<section id='features'>

    <div class="row feature design">

        <div class="six columns right">
            <h3>{{ 'LANDING-PAGE.FEATURES' | translate }}</h3>

            <p class="justified-text">{{ 'LANDING-PAGE.FEATURE1' | translate }}
            </p>
            <p class="justified-text">{{ 'LANDING-PAGE.FEATURE2' | translate }}
            </p>
            <p class="justified-text">{{ 'LANDING-PAGE.FEATURE3' | translate }}
            </p>
        </div>

        <div class="six columns feature-media left">
            <img src="assets/images/woo10/feature-image-1.png" alt="" />
        </div>

    </div>

    <div class="row feature responsive">

        <div class="six columns left">
            <h3>{{ 'LANDING-PAGE.RESPONSIVE' | translate }}</h3>

            <p class="justified-text">
                {{ 'LANDING-PAGE.FEATURE4' | translate }}
            </p>
        </div>

        <div class="six columns feature-media right">
            <img src="assets/images/woo10/feature-image-2.png" alt="" />
        </div>

    </div>

    <div class="row feature cross-browser">

        <div class="six columns right">
            <h3>{{ 'LANDING-PAGE.BROWSER' | translate }}</h3>

            <p class="justified-text">
                {{ 'LANDING-PAGE.FEATURE5' | translate }}
            </p>
        </div>

        <div class="six columns feature-media left">
            <img src="assets/images/woo10/feature-image-3.png" alt="" />
        </div>

    </div>

</section>
<!-- Homepage Hero end -->

<!-- Subscribe
   ================================================== -->
<section id="subscribe">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>{{ 'LANDING-PAGE.CONTACT-US' | translate }}</h1>

            <p *ngIf="!isLoading && !emailSent">{{ 'LANDING-PAGE.CONTACT-DESCRIPTION' | translate }}</p>
        </div>

    </div>

    <div class="row">

        <div class="twelve columns">

            <!-- Begin MailChimp Signup Form -->

            <div id="mc_embed_signup" *ngIf="!isLoading && !emailSent">
                <form autocomplete="off" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact-form"
                    target="_blank" [formGroup]="contactForm">

                    <textarea type="text" value="P" name="QUESTIONS" placeholder="{{ 'LANDING-PAGE.QUESTIONS' | translate }}"
                        formControlName="message" required></textarea>

                    <div>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ 'LANDING-PAGE.EMAIL-ADDRESS' | translate }}"
                            formControlName="from" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_cdb7b577e41181934ed6a6a44_e65110b38d" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="send" name="send" id="mc-embedded-subscribe" class="button"
                                [disabled]="contactForm.invalid" (click)="sendEmail()">
                        </div>
                    </div>
                </form>
            </div>

            <div class="loading-container" *ngIf="isLoading">
                <mat-spinner [diameter]="60"></mat-spinner>
            </div>

            <div class="email-sent-container" *ngIf="!isLoading && emailSent">
                <h1>{{ 'LANDING-PAGE.EMAIL-CONFIRMATION' | translate }}</h1>
            </div>

            <p>
                <small>{{ 'LANDING-PAGE.NO-SPAM-ADVICE' | translate }}</small>
            </p>

        </div>

    </div>

</section>
<!-- Subscribe Section End-->

<!-- Footer
   ================================================== -->
<footer class="bottom-footer">

    <div class="row">

        <div class="six columns info">

            <div class="footer-logo">
                <a href="https://www.factorymind.com/" target="_blank">
                    <img src="/assets/images/logo-noclaim.png" alt="" />
                </a>
            </div>

            <p>Copyright © 2016-2018 Factory Mind - Società Cooperativa
                <br>Via Kufstein 5, Spini di Gardolo - Trento, 38121
                <br>P.IVA 02127820229</p>

        </div>

        <!-- <div class="six columns right-cols">

            <div class="row">
                <div class="columns">
                    <div class="columns-icon">
                        <i class="mdi mdi-map-marker"></i>
                    </div>
                    <h3 class="address">Come Visit</h3>
                    <p>
                        1600 Amphitheatre Parkway
                        <br> Mountain View, CA
                        <br> 94043 US
                    </p>
                </div>

                <div class="columns">
                    <div class="columns-icon">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h3 class="social">socialize</h3>
                    <ul>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">GooglePlus</a>
                        </li>
                    </ul>
                </div>

                <div class="columns last">
                    <div class="columns-icon">
                        <i class="mdi mdi-email"></i>
                    </div>
                    <h3 class="contact">Contact Us</h3>
                    <ul>
                        <li>
                            <a href="tel:6473438234">647.343.8234</a>
                        </li>
                        <li>
                            <a href="tel:1234567890">123.456.7890</a>
                        </li>
                        <li>
                            <a href="mailto:someone@woo.com">someone@woosite.com</a>
                        </li>
                    </ul>
                </div>

            </div>
            Nested Row End

        </div> -->

        <p class="copyright">&copy; 2014 Woo | Design by
            <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>
        </p>

        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero">
                <i class="mdi mdi-chevron-up"></i>
            </a>
        </div>

    </div>
    <!-- Row End -->

</footer>
<!-- Footer End-->