.bottom-footer{
    background-color: #181d21;
}

.columns-icon{
    margin: 0 0 6px 3px;
    font-size: 35px;
    line-height: 48px;
    text-align: left;
    color: #738291;
    display: block;
}

.justified-text{
    text-align: justify;
    text-justify: inter-word;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.loading-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: justify;
    padding: 80px;
}