@import 'src/styles/_partials.scss';

:host{
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.card-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-grow: 1;
    img{
        max-height: 80px;
    }
    @media #{$sm-down} {
        img{
            max-height: 64px;
        } 
    }
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin: 24px;
    display: flex;
    flex-flow: column;
    max-width: 350px;
    width: 100%;
    align-self: center;
    @media #{$sm-down} {
        width: auto;
        align-self: center;
    }
}

.footer{
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    button{
        align-self: stretch;
        flex-shrink: 0;
    }
}

.account-help{
    margin-top: $spacing-lg;
    color: $text-shadowed-color;
    @media #{$sm-down} {
        font-size: $text-size-md;
    }
}

.help-link{
    cursor: pointer;
    color: $primary-color;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}

.instructions{
    text-align: justify;
    font-size: $text-size-md;
}

.loading-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: justify;
    padding: 80px;
}