<div class="card-content">
  <div class="logo-container">
    <img src="assets/images/logo.png">
  </div>

  <form autocomplete="off" class="form" [formGroup]="confirmForm" (ngSubmit)="confirmCompany()" *ngIf="!isLoading">

    <p class="instructions">{{ 'CONFIRM-COMPANY.INSTRUCTIONS' | translate }}</p>

    <mat-form-field>
      <input matInput placeholder="{{'CONFIRM-COMPANY.COMPANY' | translate}}" disabled value="{{company?.name}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="VAT" disabled value="{{company?.vat}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" disabled value="{{company?.referentUsername}}">
    </mat-form-field>

    <p class="instructions">{{ 'CONFIRM-COMPANY.INSTRUCTIONS2' | translate }}</p>
    <mat-form-field class="column-items">
      <input matInput placeholder="{{'CONFIRM-COMPANY.REFERENT-NAME' | translate}}" formControlName="name" required>
      <mat-error *ngIf="confirmForm.controls['name'].errors?.pattern && confirmForm.touched">
        {{'CONFIRM-COMPANY.NAME-ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="confirmForm.controls['name'].errors?.required && confirmForm.touched">
        {{'CONFIRM-COMPANY.NAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{'CONFIRM-COMPANY.SURNAME' | translate}}" formControlName="surname" required>
      <mat-error *ngIf="confirmForm.controls['surname'].errors?.pattern && confirmForm.touched">
        {{'CONFIRM-COMPANY.SURNAME-ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="confirmForm.controls['surname'].errors?.required && confirmForm.touched">
        {{'CONFIRM-COMPANY.SURNAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{'CONFIRM-COMPANY.PASSWORD' | translate}}" type="password" formControlName="password" (input)="clearPasswordConfirmation()" required>
      <mat-error *ngIf="confirmForm.controls['password'].errors?.required && confirmForm.touched">
        {{'CONFIRM-COMPANY.PASSWORD-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{'CONFIRM-COMPANY.PASSWORD-CONFIRMATION' | translate}}" type="password" formControlName="passwordConfirmation" appConfirmEqualValidator="password" required>
      <mat-error *ngIf="confirmForm.controls['passwordConfirmation'].errors?.required && confirmForm.touched">
        {{'CONFIRM-COMPANY.PASSWORDCONFIRMATION-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="confirmForm.invalid">{{ 'CONFIRM-COMPANY.BUTTON' | translate }}</button>
    </div>
  </form>

  <!-- Loading -->
  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>

</div>