@import 'src/styles/_partials.scss';

mat-toolbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    @media #{$sm-down} {
        flex-direction: column;
    }
}

#right-side-section{
    display: flex;
    @media #{$sm-down} {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: $spacing-md;
    }
}

.fill-remaining-space {
    flex: 1 1 auto;
}

#left-side-section{
    display: flex;
    @media #{$sm-down} {
        display: flex;
        width: 100%;
        align-items: center;
        padding: $spacing-md;
    }
}

.logo{
    max-height: 35px;
    @media #{$sm-down} {
        max-height: 25px;
    }
}

.logo-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}


.mat-toolbar-row, .mat-toolbar-single-row {
    min-height: 50px;
    height: auto;
}

.button-margin{
    margin-right: $spacing-lg;
    @media #{$sm-down} {
        margin-right: 0px;
    }
}
