<mat-toolbar color="primary">
  <div id="left-side-section">
    <button mat-icon-button class="button-margin" (click)="menuButtonClicked()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/images/white_logo.png" alt="image">
    </div>
  </div>

  <span class="fill-remaining-space"></span>

  <div id="right-side-section">
    <!-- Icon menu -->
    <!-- <button mat-icon-button class="button-margin">
      <mat-icon>forum</mat-icon>
    </button>
    <button mat-icon-button class="button-margin">
      <mat-icon>people</mat-icon>
    </button> -->
  </div>

</mat-toolbar>