<h1 mat-dialog-title class="dialog-title">{{ 'GUEST-MODE.ENTER-DIALOG-TITLE' | translate }}</h1>
<mat-dialog-content cdkFocusInitial>
  <p class="dialog-text">{{ 'GUEST-MODE.ENTER-DIALOG-INSTRUCTIONS1' | translate }}</p>
  <p class="dialog-text">{{ 'GUEST-MODE.ENTER-DIALOG-INSTRUCTIONS2' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions class="footer">
  <button mat-button mat-dialog-close>{{ 'GUEST-MODE.CANCEL' | translate }}</button>
  <button mat-button (click)="enterGuestMode()">{{ 'GUEST-MODE.CONFIRM' | translate }}</button>
</mat-dialog-actions>