<div class="card-content">
  <div class="logo-container">
    <img src="assets/images/logo.png">
  </div>

  <form autocomplete="off" class="form" [formGroup]="confirmForm" (ngSubmit)="confirmUser()" *ngIf="!isLoading">

    <p class="instructions">{{ 'CONFIRM-USER.INSTRUCTIONS' | translate }}</p>

    <mat-form-field>
      <input matInput placeholder="Email" disabled value="{{user?.username}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'CONFIRM-USER.COMPANY' | translate }}" disabled value="{{user?.company}}">
    </mat-form-field>

    <p class="instructions">{{ 'CONFIRM-USER.INSTRUCTIONS2' | translate }}</p>
    <mat-form-field class="column-items">
      <input matInput placeholder="{{ 'CONFIRM-USER.NAME' | translate }}" formControlName="name">
      <mat-error *ngIf="confirmForm.controls['name'].errors?.pattern && confirmForm.touched">
        {{'CONFIRM-USER.NAME-ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="confirmForm.controls['name'].errors?.required && confirmForm.touched">
        {{'CONFIRM-USER.NAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{ 'CONFIRM-USER.SURNAME' | translate }}" formControlName="surname">
      <mat-error *ngIf="confirmForm.controls['surname'].errors?.pattern && confirmForm.touched">
        {{'CONFIRM-USER.SURNAME-ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="confirmForm.controls['surname'].errors?.required && confirmForm.touched">
        {{'CONFIRM-USER.SURNAME-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{ 'CONFIRM-USER.PASSWORD' | translate }}" type="password" formControlName="password" (input)="clearPasswordConfirmation()" required>
      <mat-error *ngIf="confirmForm.controls['password'].errors?.required && confirmForm.touched">
        {{'CONFIRM-USER.PASSWORD-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column-items">
      <input matInput placeholder="{{ 'CONFIRM-USER.PASSWORD-CONFIRMATION' | translate }}" type="password" formControlName="passwordConfirmation" appConfirmEqualValidator="password" required>
      <mat-error *ngIf="confirmForm.controls['passwordConfirmation'].errors?.required && confirmForm.touched">
        {{'CONFIRM-USER.PASSWORDCONFIRMATION-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="confirmForm.invalid">{{ 'CONFIRM-USER.BUTTON' | translate }}</button>
    </div>
  </form>

  <!-- Loading -->
  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>

</div>