.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    align-self: stretch;
  }
}

.loading-footer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.guest-name {
  text-align: center;
  font-weight: bold;
}

mat-dialog-content{
  display: flex;
  flex-direction: column;
}
