<h1 mat-dialog-title>{{ 'TODAY.CONFIRM-EXIT.TITLE' | translate }}</h1>
<mat-dialog-content cdkFocusInitial *ngIf="!isLoading">
  <p>{{ 'TODAY.CONFIRM-EXIT.TRYING-TO-EXIT' | translate }}</p>
  <div class="guest-name">
    {{ guestName }}
  </div>
</mat-dialog-content>
<mat-dialog-actions class="footer" *ngIf="!isLoading">
  <button mat-button mat-dialog-close>{{ 'TODAY.CONFIRM-EXIT.CANCEL' | translate }}</button>
  <button mat-button color="primary" (click)="exitGuest()">{{ 'TODAY.CONFIRM-EXIT.CONFIRM' | translate }}</button>
</mat-dialog-actions>
<div class="loading-footer" *ngIf="isLoading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>