<div class="component-container">
  <mat-card class="today-board">
    <div class="board-1">
      <div class="today-date">
        <mat-icon class="date-icon">date_range</mat-icon>
        {{ date | date:'fullDate' }}
      </div>
      <button mat-button class="emergency-button" (click)="openGuestEmergencyDialog()">
        {{ 'TODAY.EMERGENCY'| translate}}
      </button>
    </div>
    <div class="board-2">
      <div class="guests-widget-content">
        <div class="guest-widget">
          <i class="mdi mdi-account-multiple person-icon"></i>
          <div class="guests-number">{{ todayGuestSvc.guestsToday }}</div>
          {{ 'TODAY.GUESTS-TODAY'| translate}}
        </div>
      </div>
      <div class="guests-widget-content">
        <div class="guest-widget">
          <i class="mdi mdi-account-outline person-icon"></i>
          <div class="guests-number">{{ todayGuestSvc.guestsVisiting }}</div>
          {{ 'TODAY.CURRENT-GUESTS'| translate}}
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="guest-list-card">
    <div class="cssWidgetWrapper">
      <dx-data-grid class="cssGridGeneral" id="gridContainer" #grid [loadPanel]="true" [dataSource]="todayGuestSvc.guests"
        [showColumnLines]="false" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [columnHidingEnabled]="true" (onCellPrepared)="onCellPrepared($event)" (onToolbarPreparing)="onToolbarPreparing($event)"
        height="100%">
        <dxo-scrolling mode="standard"></dxo-scrolling>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxi-column [hidingPriority]="8" caption="{{ 'TODAY.FULL-NAME' | translate }}" dataField="fullName"></dxi-column>
        <dxi-column [hidingPriority]="3" caption="{{ 'TODAY.COMPANY' | translate }}" dataField="fromCompany"></dxi-column>
        <dxi-column [hidingPriority]="4" caption="{{ 'TODAY.INTERNAL-REF' | translate }}" cellTemplate="referentTemplate"></dxi-column>
        <dxi-column [hidingPriority]="1" caption="{{ 'TODAY.BADGE-NUMBER' | translate }}" dataField="badgeNumber"></dxi-column>
        <dxi-column [hidingPriority]="0" caption="{{ 'TODAY.LICENSE-PLATE' | translate }}" dataField="licensePlate"></dxi-column>
        <dxi-column [hidingPriority]="6" caption="{{ 'TODAY.ENTRY' | translate }}" [width]="140" dataField="enter"
          cellTemplate="enterTemplate" sortOrder="asc"></dxi-column>
        <dxi-column [hidingPriority]="5" caption="{{ 'TODAY.EXIT' | translate }}" [width]="140" dataField="exit"
          dataType="date" [format]="{ type: 'dd/MM - HH:mm' }"></dxi-column>

        <div *dxTemplate="let data of 'referentTemplate'">
          <div class="datagrid-buttons">
            <button mat-raised-button color="primary" (click)="openReferentDetailsDialog(data.data.referentId)">{{ 'TODAY.REF-DETAILS' | translate }}</button>
          </div>
        </div>
        
        <dxi-column [hidingPriority]="7" cellTemplate="cellTemplate" [width]="150"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
          <button mat-raised-button [disabled]="data.data.exit" (click)="openConfirmGuestExitDialog(data.data.id, data.data.fullName)">
            {{ 'TODAY.EXIT-BUTTON' | translate }}
          </button>
        </div>
        <div *dxTemplate="let data of 'enterTemplate'">
          <div [ngClass]="{'old-date': (data.data.enter | date: 'yyyy/MM/dd') < (date | date: 'yyyy/MM/dd'), 'today': (data.data.enter | date: 'yyyy/MM/dd') >= (date | date: 'yyyy/MM/dd') }">
            <div>
              <a [ngClass]="{'old-date-text': (data.data.enter | date: 'yyyy/MM/dd') < (date | date: 'yyyy/MM/dd')}">{{
                data.data.enter | date:'dd/MM' }}</a>
              &nbsp;{{ data.data.enter | date:'- HH:mm' }}
            </div>
          </div>
        </div>
      </dx-data-grid>

    </div>

  </mat-card>
  <div class="add-button-container">
    <button mat-fab class="add-button" matTooltip="{{ 'TODAY.ADD-TOOLTIP' | translate }}" (click)="openAddGuestDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>