@import 'src/styles/_partials.scss';

$icon-spacing: 10px;
$box-margin-v: 10px;
$box-margin-h: 5px;
$button-padding-v: 5px;
$button-margin-v: 10px;
$button-margin-h: 5px;

.component-container{
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing-xl;
}

:host {
  flex-flow: column;
  flex: 1;
  overflow: auto;
  @media #{$vertical-sm-up} {
    display: flex;
    overflow: hidden;
  }
}

::ng-deep .dx-toolbar-before {
  font-size: $text-size-lg;
  @media #{$sm-down} {
    display: none;
  }
}

::ng-deep .dx-datagrid-header-panel{
  padding: 0;
}

.cssWidgetWrapper {
  @media #{$vertical-sm-up} {
    flex-grow: 1;
    position: relative;
    height: 100%;
  }
}

.cssGridGeneral {
  @media #{$vertical-sm-up} {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}

.guest-list-card {
  margin-top: $spacing-lg;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
}

.add-button-container {
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-end;
  flex-flow: row-reverse;
  flex-grow: 1;
  bottom: 0px;
}

.add-button {
  margin: 10px;
}

.today-board {
  margin-top: $spacing-xl;
  flex: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 90%;
  @media #{$md} {
    width: 80%;
  }
  @media #{$sm-down} {
    width: 85%;
  }
}

.board-1 {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.board-2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  pointer-events: none;
  margin-top: $box-margin-v;
}

::ng-deep .mat-chip-list-wrapper {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  justify-content: space-between;
}

.today-date {
  font-size: $text-size-lg;
  display: flex;
  flex: 1;
  align-items: center;
  min-width: 150px;
  margin-top: $box-margin-v;
  margin-right: $box-margin-v;
  margin-left: $box-margin-v;
  user-select: none;
}

.emergency-button {
  font-size: $text-size-lg;
  max-width: 300px;
  height: 50px;
  min-width: 272px;
  border: 1px solid red;
  border-radius: 25px;
  background: rgba(255, 0, 0, 0.15);
  color: red;
  font: bold;
  display: flex;
  flex: 1;
  justify-content: center;
  cursor: pointer;
  margin-left: $box-margin-v;
  margin-right: $box-margin-v;
}

.guest-widget{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.guests-number {
  color: $primary-color !important;
  font-weight: bold !important;
  margin-right: 5px;
}

.guests-widget-content {
  display: flex;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: black !important;
  font-weight: 200 !important;
  font-size: $text-size-md;
  min-width: 272px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  margin-top: $box-margin-h;
  margin-left: $box-margin-v;
  margin-right: $box-margin-v;
  user-select: none;
}

.date-icon {
  margin-right: $icon-spacing;
}

.person-icon {
  margin-right: $icon-spacing;
  font-size: $text-size-lg;
}

.old-date {
  background: rgba($primary-color, 0.25);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.old-date-text{
  font-weight: bold;
}

.today{
  background-color: transparent;
  text-align: center;
}
