<div id="home-container">
	<app-toolbar *ngIf="!blocked" (navToggle)="userNav.toggle()" class="mat-elevation-z5"></app-toolbar>
	<mat-sidenav-container>
		<mat-sidenav #userNav [mode]="showUserNav ? 'side' : 'over'" [opened]="showUserNav" position='start' class="user-nav mat-elevation-z5">
			<app-side-navbar></app-side-navbar>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
			<div class="router-outlet"></div>
			<div class="background">
				<div class="background-box">
					<img class="background-logo" src="/assets/images/factory_logo_lg.png">
				</div>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>