@import 'src/styles/_partials.scss';

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.mat-sidenav {
  width: 280px;
}

mat-sidenav-container {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  overflow: hidden;
  flex-grow: 1;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

app-toolbar {
  z-index: 2;
}

#home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-nav {
  display: flex;
}

.background {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.background-box {
  width: 30%;
  @media #{$sm-down} {
    width: 280px;
  }
  margin: 20px;
}

.background-logo {
  width: 100%;
  height: auto;
  opacity: 0.4;
}
